
  <div class="text-center alert alert-info mb-0">
    <h6 class="mt-1">Total {{pagination.totalItems}} matched found for you! </h6>
  </div>

  <nav class="navbar navbar-nav navbar-expand-lg navbar-light bg-light mb-3 align-items-center">
    <a class="navbar-brand ml-5">Filter the results</a>
  <div class="row m-auto">
    <form #form = "ngForm" (ngSubmit)="loadUsers()"  class="form-inline" novalidate>

      <div class="col-md-2 col-sm-3 mt-2">
        <label class="sr-only" for="inlineFormInputGroup">Age</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Age from</div>
          </div>
          <input [(ngModel)]="userParams.minAge" type="number" name="minAge" class="form-control" id="inlineFormInputGroup" placeholder="Minimum">
        </div>
      </div>

      <div class="col-md-2 col-sm-3 mt-2">
        <label class="sr-only" for="inlineFormInputGroup">Age</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Age to</div>
          </div>
          <input [(ngModel)]="userParams.maxAge" type="number" name="maxAge" class="form-control" id="inlineFormInputGroup" placeholder="Maximum">
        </div>
      </div>

      <div class="col-md-2 col-sm-3 mt-2">
        <label class="sr-only" for="inlineFormInputGroup">Gender</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Gender</div>
          </div>
          <select [(ngModel)]="userParams.gender" class="form-control" id="gender" name="gender">
            <option *ngFor="let gender of genderList" [value]="gender.value">
              {{gender.display}}
            </option>
          </select>
        </div>
      </div>

      <div class="btn-group col-md-3 col-sm-6">
        <button type="submit" class="btn btn-primary"><i class="fa fa-filter" aria-hidden="true"></i> Apply Filters</button>
        <button (click)="resetFilters()" type="button" class="btn btn-info">Reset Filter</button>
      </div>

      <div class="btn-group col-md-3 col-sm-6">
        <button type="button" [(ngModel)]="userParams.orderBy" btnRadio="lastActive" (click)="loadUsers()"
        name="orderBy" class="btn btn-primary"><i class="fa fa-sort" aria-hidden="true"></i> Active</button>
        <button type="button" [(ngModel)]="userParams.orderBy" btnRadio="created" (click)="loadUsers()"
        name="orderBy" class="btn btn-primary"><i class="fa fa-sort" aria-hidden="true"></i> Newest</button>
      </div>
      
    </form>
  </div>
</nav>

<div class="container mt-2 p-3">

  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems" 
              [(ngModel)]="pagination.currentPage"
              [itemsPerPage] = "pagination.itemsPerPage"
              (pageChanged) = "pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

  </pagination>
</div>