<div class="modal-header">
    <h4 class="modal-title pull-left">Edit roles of {{user.userName}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #rolesForm = "ngForm"> 
        <div class="form-check d-inline-flex" *ngFor="let role of roles">
            <div class="wrapper m-2">
                <input type="checkbox" 
                value="{{role.name}}" 
                [checked]="role.checked" 
                class="form-check-input"
                (change) = "role.checked = !role.checked"
                [disabled] = "role.name === 'Admin'">
                <label>{{role.name}}</label>
            </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="updateRoles()" form="rolesForm">Submit</button>
  </div>
