<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h2>Your Profile</h2>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong>You have made changes any unsaved changed
        will be losed!
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img
          src="{{ photoUrl }}"
          alt="{{ user.knownAs }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{ user.city }}, {{ user?.country }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{ user.lastActive }}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{ user.created }}</p>
          </div>
        </div>
        <div class="card-footer">
          <button
            [disabled]="!editForm.dirty"
            form="editForm"
            class="btn btn-success btn-block"
          >
            Save Changes
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit your profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <h5>Description</h5>
              <textarea
                [(ngModel)]="user.introduction"
                name="introduction"
                rows="6"
                class="form-control"
              ></textarea>

              <h5>Looking for</h5>
              <textarea
                [(ngModel)]="user.lookingFor"
                name="lookingFor"
                rows="4"
                class="form-control"
              ></textarea>

              <h5>Interests</h5>
              <textarea
                [(ngModel)]="user.interests"
                name="interests"
                rows="4"
                class="form-control"
              ></textarea>

              <h5>Location Details</h5>
              <div>
                <label for="city">City</label>
                <input
                  [(ngModel)]="user.city"
                  name="city"
                  class="text form-control"
                />
                <label for="country">Country</label>
                <input
                  [(ngModel)]="user.country"
                  name="country"
                  class="text form-control"
                />
              </div>
            </form>
          </tab>
          <tab heading="Edit your photos">
            <app-photo-editor
              [photos]="user.photos"
              (getMemberPhotoChange)="updateMainPhoto($event)"
            ></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
